*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    color: #fff;
    background-image: url("https://i.pinimg.com/originals/b2/27/bc/b227bc858a11ee404975aa6761c78857.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    font-size: 18px;
    text-align: center;
}

#imagem{
    height: 100%;
    border-radius: 20px;
}

#imgCont{
    height: 55vh;
}

#textCont{
    font-size: 18px;
    line-height: 22px;
    height: 44px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

#nome{
    margin-top: 20px;
}

#btn {
    margin-top: 20px;
    background-color: transparent;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	position: relative;
	border: 4px solid #1f1e1e;
	transition: all 0.7s cubic-bezier(0.42, 0, 0.58, 1);
    width: 140px;
    height: 40px;
    font-size: 17px;
}

#btn:hover {
	color: rgb(207, 167, 55) !important;
	background-color: transparent;
	text-shadow: nthree;
}
#btn:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
#btn:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: rgb(0, 0, 0) !important;
	background: #1f1e1e;
	transition: all 0.7s cubic-bezier(0.42, 0, 0.58, 1);
}

.char{
    display:
    
 

  
}

.atributes{
    justify-content: center;
    align-items: center;
    
}

/* .attributes_css{
    height: auto;
    border: 2px rgb(40, 40, 40) solid;
    margin: 10px;
    justify-content: space-between;
} */


.attributes_css{
    background-color: #1f1e1e;
    opacity: 75%;
    border-left: 100px;
    border-right: 100px;
    border: rgb(180, 178, 176) solid;
    border-collapse: collapse;
    box-sizing: border-box;
    color: rgb(180, 178, 176);
    font-size: 13px;
    height: auto;
    line-height: 10px;
    text-indent: -5px;
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 184px;
    text-align: center;     

}



