*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    color: #fff;
    background-image: url("https://i.pinimg.com/originals/b2/27/bc/b227bc858a11ee404975aa6761c78857.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    font-size: 18px;
    text-align: center;
}

#imagem{
    height: 100%;
    border-radius: 20px;
}

#imgCont{
    height: 55vh;
}

#textCont{
    font-size: 18px;
    line-height: 22px;
    height: 44px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

#nome{
    margin-top: 20px;
}

#btn {
    margin-top: 20px;
    background-color: transparent;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #443806;
	transition: all 0.7s cubic-bezier(0.42, 0, 0.58, 1);
    width: 80px;
    height: 30px;
}

#btn:hover {
	color: rgb(0, 0, 0) !important;
	background-color: transparent;
	text-shadow: nthree;
}
#btn:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
#btn:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: rgb(0, 0, 0) !important;
	background: #443806;
	transition: all 0.7s cubic-bezier(0.42, 0, 0.58, 1);
}

.table_atributes{
   background-color: rgb(0, 0, 0, 0);
   border-bottom-color: rgb(180, 178, 176);
   border-bottom-style: none;
   border-bottom-width: 0px;
   border-collapse: separate;
   border-image-outset: 0;
   border-image-repeat: stretch;
   border-image-slice: 100%;
   border-image-source: none;
   border-image-width: 1;
   border-left-color: rgb(180, 178, 176);
   border-left-style: none;
   border-left-width: 0px;
   border-right-color: rgb(180, 178, 176);
   border-right-style: none;
   border-right-width: 0px;
   border-top-color: rgb(180, 178, 176);
   border-top-style: none;
   border-top-width: 0px;
   box-sizing: border-box;
   color: #fff;
   display: table;
   font-size: 14px;
   line-height: 20px;
   

}